*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    color: white;
    text-decoration: none;
}


.img-holder{
    background: url(./images/banner.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* overflow: hidden; */
    z-index: 9999;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-name{
    text-transform: capitalize;
    font-size: 1.7rem;
    font-family: sans;
    color: black;
    font-weight: bold;
    margin-top: 30px;
}


.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    list-style: none;
    margin-top: 30px;

}

.main-nav li{
    text-transform: capitalize;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
    font-family: sans;
    padding: 0 20px;
}

.main-nav a{
    color: white;
    text-decoration: none;
} 

.current-page{
   font-weight: bold;
}


.hamburger-menu{
    display: none;
}

.menu-btn{
    display: none;
}

.hamburger-menu a{
   color: black;
   border-bottom: 1px solid gray;
   display: block;
   margin: 5px auto;
   transition: all 0.3s ease-in-out;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 1.1rem;
}

.hamburger-menu a:hover{
    background-color: #1c2732;
    color: whitesmoke;
}

.close-btn{
    cursor: pointer;
}

.banner{
    width: auto;
    height: 40vh;
    object-fit: contain;
}

.banner{
    max-width: 700px;
    margin: 40vh auto;
}

.container-flex{
    display: flex;
    flex-direction: column;
}

.banner h1{
    font-size: 4.4rem;
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    word-spacing: 0.7rem;
    margin-bottom: 20px;
}

.banner p{
    font-size: 1.15rem;
    line-height: 1.5;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.btn{
    margin: 0 auto;
    letter-spacing: 0.15rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 7px 12px;
    max-width: 200px;
    text-decoration: none;
    /* text-align: center; */
    font-size: 1.4rem;
    border: white 3px solid;
}


.btn:hover{
    background: white;
    color: black;
    font-weight: 500;
}

.section{
    height: 90vh;
    font-size: 2.2rem;
    word-spacing: 0.4rem;
    text-transform: uppercase;
    color: #00011f;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.section .title span{
    color: cyan;
}


@media(max-width: 768px) {
    .main-nav{
        display: none;
    }

    .menu-btn{
        display: block;
        margin-top: 30px;
    }

    .navbar{
        justify-content: space-between;
        margin: auto 30px;
    }
    
}

@media(max-width: 450px){
    .banner h1{
        font-size: 4rem;
    }

    .banner{
        margin:33vh auto;
    }
}